.collapse {
  display: none;
}

.horizontal_center {
  text-align: center;
}

.flexbox_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  min-height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.defaultButton {
  width: 100px;
  height: 30px;
}

.mouseover_style {
  font-size: 28px;
  background-color: aqua;
}

.mouseleave_style {
  font-size: 14px;
  background-color: white;
}

.modal_window {
  width: 60%;
  margin: 0px auto;
}

#bbs_list {
  font-size: 20px;
}

#input_text {
  margin-left: 5px;
}

#search_btn {
  margin-left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 0;
  border: none;
}

#search_btn img {
  display: block;
}

#search_area {
  padding: 10px 0;
}

.titleButton {
  width: 250px;
  height: 60px;
  text-align: left;
  margin-bottom: 1px;
}

.title {
  font-size: 20px;
}

.update_time {
  font-size: 12px;
}
