.collapse {
  display: none;
}

.horizontal_center {
  text-align: center;
}

.flexbox_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  min-height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ol {
  margin: 0;
}

.defaultButton {
  width: 100px;
  height: 30px;
}

.mouseover_style {
  font-size: 28px;
  background-color: aqua;
}

.mouseleave_style {
  font-size: 14px;
  background-color: white;
}

.modal_window {
  width: 60%;
  margin: 0px auto;
}

#body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

aside {
  width: 25%;
  background-color: #f9e7d8;
}

#main_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header {
  margin-bottom: 68px;
}

#login_user_area {
  text-align: center;
  background-color: #fff;
  margin: 10px 10px 0px 10px;
  padding: 15px 0;
  font-weight: bold;
  font-style: italic;
}

#page_top_btn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
}

#page_top_btn a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top_btn a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
