@import "appCommon.scss";

#bbs_list {
    font-size: 20px;
}

#input_text {
    margin-left: 5px;
}

#search_btn {
    margin-left: 5px;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    border: none;
}

#search_btn img {
    display: block;
}

#search_area {
    padding: 10px 0;
}



.testButton {
    width: 200px;
    height: 50px;
    text-align: left;
}

.test1 {
    font-size: 18px;
}

.test2 {
    font-size: 10px;
}