@import "appCommon.scss";

#bbs_list {
    font-size: 20px;
}

#input_text {
    margin-left: 5px;
}

#search_btn {
    margin-left: 5px;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    border: none;
}

#search_btn img {
    display: block;
}

#search_area {
    padding: 10px 0;
}

.titleButton {
    width: 250px;
    height: 60px;
    text-align: left;
    margin-bottom: 1px;
}

.title {
    font-size: 20px;
}

.update_time {
    font-size: 12px;
}