ul {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

#input_text {
    margin-left: 5px;
}

#search_btn {
    margin-left: 5px;
}

#search_area {
    padding: 10px 0;
}

#searchResultCount_area {
    text-align: center;
}

#searchResultCount_area p {
    margin: 0;
}

.area {
    text-align: center;
}