<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bbsSearch.css">
    <title>Document</title>
</head>
<body>
    <div class="horizontal_center">
        <button class="bbs_create_btn">掲示板作成</button>
        <button class="bbs_delete_btn">掲示板削除</button>
    </div>
    <div id="search_area" class="horizontal_center">
        掲示板検索
        <input id="input_text" type="text">
        <button id="search_btn" onclick="clickSearchBtn()"><img src="/image/search_icon.png"></button>
    </div>
    <div id="searchResultCount_area" class="collapse horizontal_center">
        <p></p>
    </div>
    <div id="bbs_area" class="horizontal_center">
        <ul id="bbs_list"></ul>
    </div>

    <!--  モーダルで表示する部分-->
    <div id="modal_bbs_create" style="display:none;">
        <div class="modal_window">
            <div class="horizontal_center">
                <div>
                    掲示板タイトルを入力してください。
                </div>
                <div>
                    <textarea id="bbs_title_textarea"></textarea>
                </div>
                <button onclick="createBbs()">完了</button>
                <button onclick="closeModal('.bbs_create_btn')">キャンセル</button>
            </div>
        </div>
    </div>

    <div id="modal_bbs_delete" style="display:none;">
        <div class="modal_window">
            <div class="horizontal_center">
                <div>
                    削除する掲示板を選択してください。
                </div>
                <input type="checkbox" id="check_all" name="allChecked" onchange="">
                <label for="check_all">全てチェックする</label>
                <ul id="bbs_delete_list"></ul>
                <button onclick="deleteBbs()">実行</button>
                <button onclick="closeModal('.bbs_delete_btn')">キャンセル</button>
            </div>
        </div>
    </div>

    <script>
        $(".bbs_create_btn").modaal({
            content_source: '#modal_bbs_create',
            width: 600, height: 250,
            animation_speed: 150,
            hide_close: true,
            overlay_close: false,
            outer_controls: true
        });

        $(".bbs_delete_btn").modaal({
            content_source: '#modal_bbs_delete',
            width: 600, 
            animation_speed: 150,
            hide_close: true,
            overlay_close: false,
            outer_controls: true,
            before_open: function() {
                setBbsDeleteTitleList();
                addEvent();
            },
            after_close: function() {
                clearBbsDeleteList();
            }
        });
    </script>
</body>
</html>