<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>main</title>
</head>
<body>
    <main>
        <div id="bbs_title" class="bulletin_board_title">タイトル</div>
        <div id="form_area">
            <div>
                <label for="contributor_input">投稿者</label>
                <input type="text" name="contributor_txt" id="contributor_input" maxlength="15">
            </div>
            <div>
                <textarea id="contributor_textarea" maxlength="150"></textarea>
            </div>
            <div>
                <button id="contributor_btn" onclick="post()">投稿</button>
            </div>
            <div class="border"></div>
        </div>
        <div id="contents_area"></div>
        
        <!--  モーダルで表示する部分-->
        <div id="modal_edit" style="display:none;">
            <div class="modal_window">
                <div>
                    <div>
                        <label for="edit_contributor_input">投稿者</label>
                        <input type="text" name="contributor_txt" id="edit_contributor_input">
                    </div>
                    <div>
                        <textarea id="edit_contributor_textarea"></textarea>
                    </div>
                    <button onclick="editComplete()">完了</button>
                    <button onclick="closeEditModal()">キャンセル</button>
                </div>
            </div>
        </div>

        <div id="modal_delete" style="display:none;">
            <div class="modal_window text_center">
                <h2>本当に削除しますか?</h2>
                <button onclick="deleteComplete()">はい</button>
                <button onclick="closeDeleteModal()">いいえ</button>
            </div>
        </div>
    </main>
</body>
</html>