<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/modaal.min.css">
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/mainFrame.css">
    <script type="text/javascript" src="./js/mainFrame.js"></script>
    <script type="text/javascript" src="./js/modaal.min.js"></script>

    <title>掲示板アプリ</title>

    <script>
        $(function() {
            $('#header').load('parts/header.html');
        });
    </script>

</head>
<body>
    <div id="body">
        <div id="header"></div>
        <div id="main_container">
            <aside>
                <div id="login_user_area">ようこそ上村さん</div>
                <button>ログアウト</button>
            </aside>
            <div id="main"></div>
            <aside></aside>
        </div>
        <div id="page_top_btn"><a href="#"></a></div>
    </div>
</body>
</html>